<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

<appSettings>
  <add key="CONEXAO" value="Server=179.107.47.90;Database=dbMobLinkDepositoPublicoProducao;User Id=sapdev;Password=Buracica#;"/>
</appSettings>

</configuration>