@{
    ViewBag.Title = Constantes.UsuarioLogado.Nome + ", bem vindo ao sistema " + Constantes.NOME_APP;
}

<div class="form-horizontal">

    <div class="row">
        <div class="col-md-2">
            Nome completo:
        </div>
        <div class="col-md-4">
            @Html.TextBox("teste", Constantes.UsuarioLogado.NomeCompleto, new { @class = "form-control input-sm", @disabled = "" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            Roles:
        </div>
        <div class="col-md-8">
            @*@foreach (var item in Constantes.UsuarioLogado.Modulos)*@
            @foreach (var item in Constantes.UsuarioLogado.Modulos.Where(x => x.DescricaoModulo.Contains("WEBLEILÃO")))
            {
                <span>@item.DescricaoModulo - @item.Descricao</span><br />
            }
        </div>
    </div>
</div>




