
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal_procedimentos_liberacao">
    <span class="glyphicon glyphicon-barcode"></span> Pagamento
</button>

@Html.Partial("../_ProcedimentosLiberacao")
