<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TransmissaoFB70.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <TransmissaoFB70.Properties.Settings>
      <setting name="TransmissaoFB70_WSSapLinkPatios_WSSapLinkPatios"
          serializeAs="String">
        <value>http://179.107.47.90:82/WSSapLinkPatios.asmx</value>
      </setting>
    </TransmissaoFB70.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="AMBIENTE" value="D"/>
    <add key="CONEXAO" value="Server=179.107.47.90; Database=dbLeilao; User Id=sapdev; Password=Buracica#;" />
    <add key="CONEXAO_SAP" value="Server=179.107.47.90; Database=dbMobLinkSAP; User Id=sapdev; Password=Buracica#;" />
    <add key="CONEXAO_DP" value="Server=179.107.47.90; Database=dbMobLinkDepositoPublicoProducao; User Id=sapdev; Password=Buracica#;" />
  </appSettings>
</configuration>