<div class="row text-right">
    <div class="col-md-12">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
            <input type="submit" class="btn btn-primary btn-sm" value="&nbsp;&nbsp;Gravar&nbsp;&nbsp;" />
    </div>
</div>

