<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MobLink.WSSap.Repositorio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MobLink.WSSap.Repositorio.Properties.Settings>
            <setting name="MobLink_WSSap_Repositorio_si_cliente_requestService_si_cliente_requestService"
                serializeAs="String">
                <value>http://srvsappidev:50100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=LINKPATIOS_2_QAD&amp;receiverParty=&amp;receiverService=&amp;interface=si_cliente_request&amp;interfaceNamespace=http%3A%2F%2Fwww.l2r.com.br%2Fpi%2Fclientes</value>
            </setting>
            <setting name="MobLink_WSSap_Repositorio_si_modificacao_parceiroService_si_modificacao_parceiroService"
                serializeAs="String">
                <value>http://srvsappidev:50100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=LINKPATIOS_2_QAD&amp;receiverParty=&amp;receiverService=&amp;interface=si_modificacao_parceiro&amp;interfaceNamespace=http%3A%2F%2Fwww.l2r.com.br%2Fpi%2Fmodificacao_parceiro</value>
            </setting>
            <setting name="MobLink_WSSap_Repositorio_si_ordemvenda_requestService_si_ordemvenda_requestService"
                serializeAs="String">
                <value>http://srvsappiprd:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=LINKPATIOS&amp;receiverParty=&amp;receiverService=&amp;interface=si_ordemvenda_request&amp;interfaceNamespace=http%3A%2F%2Fwww.l2r.com.br%2Fpi%2Fordemvenda</value>
            </setting>
            <setting name="MobLink_WSSap_Repositorio_si_ordem_interna_requestService_si_ordem_interna_requestService"
                serializeAs="String">
                <value>http://srvsappidev:50100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=LINKPATIOS_2_QAD&amp;receiverParty=&amp;receiverService=&amp;interface=si_ordem_interna_request&amp;interfaceNamespace=http%3A%2F%2Fwww.l2r.com.br%2Fpi%2Ftitulo_ordem_interna</value>
            </setting>
        </MobLink.WSSap.Repositorio.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
