<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Cláudio Costa - MobLink">
    <title>Edital</title>

    <link href="css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div class="row text-center">
        <div class="col-md-4">
            <h3>EDITAL DE NOTIFICAÇÃO</h3>
            <br />
            #NOME_LEILOEIRO#, Leiloeiro Público, devidamente matriculado na #ORGAO_VINCULADO# sob o nº. #DOCUMENTO#,

            no exercício de suas atribuições e por meio do Contrato celebrado com a #NOME_COMITENTE#

            e nos termos do artigo 328, da Lei nº 9.503, de 23 de setembro de 1997, da Resolução do CONTRAN nº 331/09,

            bem como a Lei nº 6.657/13 e a Resolução Conjunta SEFAZ/PGE/DETRAN, nº 175 de 04/06/2014, TORNA PÚBLICO o

            presente Edital de Notificação e Leilão, e FAZ SABER a todos  os proprietários, agentes financeiros,

            arrendatários, entidades credoras ou aquelas que tenham se sub-rogados nos direitos de propriedade para retirarem os

            veículos abaixo relacionados no prazo de 30 (trinta) dias. Os veículos, abaixo relacionados, classificados como

            recuperáveis e irrecuperáveis não retirados no prazo supracitado serão, nos termos do art. 328 do Código de

            Trânsito Brasileiro e do art. 7º da Lei do Estado do Rio de Janeiro de nº 6657/2013, por estarem a mais de 90 (noventa)

            dias corridos na permanência do depósito público, levados a alienação em leilão público,

            no dia #DIA_LEILAO# de #MES_LEILAO# de #ANO_LEILAO#, às #HORA_LEILAO# horas para veículos classificados como

            recuperáveis e às 17:00 horas somente na modalidade presencial para veículos classificados como irrecuperáveis,

            local: #LOCAL_LEILAO# - #ENDERECO_LEILAO#,

            pelo leiloeiro Público, matrícula JUCERJA nº 103. Os veículos que forem considerados irrecuperáveis, através do laudo pericial,

            serão vendidos como sucata ferrosa na modalidade de prensa, unicamente a pessoa jurídica que comprovem capacidade

            técnica para promover a retirada, descontaminação, esmagamento total, prensagem ou compactação na sua integralidade estrutural

            e a destinação final de acordo com a Lei 6657/13. Ressaltamos que as quantias auferidas com a alienação do veículo serão

            destinadas ao pagamento das despesas de reboque, diárias (de estadia), débitos tributários, multas e outros encargos,

            sendo o saldo restante do produto arrecadado, se houver, depositado em conta a favor do ex-proprietário, na forma da Lei.

            Ressaltamos que os veículos não leiloados, arrematados e não pagos nos leilões PT01.15, PT02.15, PT03.15 e PT04.15

            devidamente publicados nos DOPT dos dias 10/02/2015, 15/04/2015, 18/06/2015 e 19/08/2015, respectivamente,

            serão leiloados nesta data. Os veículos estão acautelado no depósito -

            PETROPOLIS - RJ, Avenida General Marciano Magalhaes, 742, Morim. A relação de veículos abaixo obedecerá à seguinte ordem:

            Nome do proprietário e/ou nome do agente financeiro, arrendatário ou com direitos sobre o veículo, placa, nº chassi,

            ano e marca do veículo.

            CONDIÇÕES GERAIS

            Ficam cientes os interessados de que os débitos de IPVA (e mora), seguro DPVAT, Taxas de DAD e Licenciamento Anual,

            correspondente ao ano em curso (2015) e os seguintes (quando houver), e os DUDAS necessários para transferência de propriedade,

            2ª via de CRV/CRLV, alteração de dados ou característica, averbação ou baixa de gravame comercial, emplacamento do veículo,

            troca de categoria ou outros (quando houver a necessidade) serão por conta dos arrematantes.

            As outras regras e normas essenciais ao leilão serão estabelecidas no catálogo e termo de condições de leilão.

            As informações sobre a visitação dos veículos, assim como o Termo de Condições do Leilão, completo, podeser encontrado

            no www.rodandolegal.com.br, ou ainda afixado nas dependências do órgão responsável pela venda.

            ###LISTA DE LOTES
            LUIS CARLOS ALVES DE OLIVEIRA, LQS0454/ES, 9C6KE037040020786, 2004/2004, YAMAHA/XTZ 125E;


            E para que chegue ao conhecimento de todos os interessados foi expedido o presente, ficando os devedores NOTIFICADOS para as providências aqui contidas.


            PETROPOLIS, 21 DE AGOSTO DE 2015.



        </div>
    </div>
</body>
</html>