<body>

    <div class="main">
        <br />
        @Html.Partial("../_QuadroConsulta")
        @Html.Partial("../_ResultadoGRV")
        @Html.Partial("../_ResultadoGRV_Itens")

    </div>

</body>
