
@*@{
    ViewBag.Title = "Index";
}*@

@*<h2>Index</h2>*@

@*<h1>Faturamento</h1>*@

<div>
    @*<img src="@Url.Action("Chart")" alt="Chart is here" />*@

    <img src="@Url.Action("GerarGraficoFaturamentoPorDeposito")" />
</div>
