<div class="modal fade"
     id="ModalRest"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     data-backdrop="static">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Restrições</h4>
            </div>

            <div class="modal-body">
                <div id="res_restricao"></div>
            </div>

            <div class="modal-footer">
                @Html.Partial("../_OK")
            </div>
        </div>
    </div>
</div>
