@model int

<div class="col-lg-8">
    <div class="input-group ">
        <span class="input-group-addon ">
            <strong>CLIENTE</strong>
        </span>

        <select class="form-control">
            <option selected="selected">Alabama</option>
            <option>Alaska</option>
            <option disabled="disabled">California (disabled)</option>
            <option>Delaware</option>
            <option>Tennessee</option>
            <option>Texas</option>
            <option>Washington</option>
        </select>

        <span class="input-group-addon ">
            <strong>PÁTIO</strong>
        </span>

        <select class="form-control">
            <option selected="selected">Alabama</option>
            <option>Alaska</option>
            <option disabled="disabled">California (disabled)</option>
            <option>Delaware</option>
            <option>Tennessee</option>
            <option>Texas</option>
            <option>Washington</option>
        </select>

        <span class="input-group-btn">
            <button class="btn btn-primary" id="btnpesquisadoc" type="button" onclick="BuscaDOC()">APLICAR</button>
        </span>

    </div><!-- /input-group -->

</div>




