<div class="row text-right">
    <div class="col-md-12">
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Não</button>
        <input type="submit" class="btn btn-success btn-sm" value="&nbsp;&nbsp;Sim&nbsp;&nbsp;" />
    </div>
</div>


